[Desktop Entry]
Name=Akonadi Google Contacts Resource
Comment=Resource for a google account
Type=AkonadiResource
Exec=akonadi_googledata_resource
Icon=text-directory

X-Akonadi-MimeTypes=application/x-vnd.kde.contactgroup
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googledata_resource
