[Desktop Entry]
Name=Akonadi Google Contacts Resource
Name[et]=Akonadi Google'i kontaktide ressurss
Name[ga]=Acmhainn Teagmhálacha Google le haghaidh Akonadi
Name[nds]=Akonadi-Ressource för Google-Kontakten
Name[pt]=Recurso de Contactos do Google para o Akonadi
Name[pt_BR]=Recurso de Contactos do Google para o Akonadi
Name[sv]=Akonadi Google-kontaktresurs
Name[uk]=Ресурс Контактів Google для Akonadi
Name[x-test]=xxAkonadi Google Contacts Resourcexx
Comment=Resource for a google account
Comment[et]=Google'i konto ressurss
Comment[ga]=Acmhainn do chuntas Google
Comment[nds]=Ressource för en Google-Togang
Comment[pt]=Recurso para uma conta no Google
Comment[pt_BR]=Recurso para uma conta no Google
Comment[sv]=Resurs för ett Google-konto
Comment[uk]=Ресурс для облікового запису google
Comment[x-test]=xxResource for a google accountxx
Type=AkonadiResource
Exec=akonadi_googledata_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory,text/calendar
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googledata_resource
