[Desktop Entry]
Name=Akonadi Google Calendar Resource
Name[bg]=Ресурс за календар от Гугъл
Name[cs]=Zdroj Akonadi pro kalendář Google
Name[da]=Akonadi-ressource for Google Calendar
Name[de]=Google-Kalender-Ressource für Akonadi
Name[en_GB]=Akonadi Google Calendar Resource
Name[es]=Recurso Google Calendar de Akonadi
Name[et]=Akonadi Google'i kalendri ressurss
Name[fr]=Resource du calendrier Google pour Akonadi
Name[gl]=Recurso do Google Calendar para Akonadi
Name[it]=Risorsa del calendario di Google per Akonadi
Name[nb]=Akonadi Google kalenderressurs
Name[nds]="Google-Kalenner"-Ressource för Akonadi
Name[nl]=Akonadi Google agendabron
Name[pt]=Recurso do Google Calendar para o Akonadi
Name[pt_BR]=Recurso do Google Agenda do Akonadi
Name[sv]=Akonadi Google-kalenderresurs
Name[tr]=Akonadi Google Takvimi Kaynağı
Name[uk]=Ресурс Календаря Google для Akonadi
Name[x-test]=xxAkonadi Google Calendar Resourcexx
Name[zh_CN]=Akonadi Google 日历资源
Name[zh_TW]=Akonadi Google 行事曆資源
Type=AkonadiResource
Exec=akonadi_gcal_resource
Icon=text-calendar

X-Akonadi-MimeTypes=text/calendar
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_gcal_resource
