[Desktop Entry]
Name=Akonadi Google Contacts Resource
Name[ast]=Recursu Google Contacts de Akonadi
Name[bg]=Източник на Akonadi за контакти от Google
Name[bs]=Resurs Google kontakta za Akonadi
Name[ca]=Recurs de contactes de Google de l'Akonadi
Name[ca@valencia]=Recurs de contactes de Google de l'Akonadi
Name[cs]=Zdroj Akonadi pro kontakty Google
Name[da]=Akonadi-ressource for Google Cantacts
Name[de]=Google-Kontakte-Ressource für Akonadi
Name[el]=Πόρος Akonadi επαφών Google
Name[en_GB]=Akonadi Google Contacts Resource
Name[es]=Recurso Google Contacts de Akonadi
Name[et]=Akonadi Google'i kontaktide ressurss
Name[fr]=Resource des contacts Google pour Akonadi
Name[ga]=Acmhainn Teagmhálacha Google le haghaidh Akonadi
Name[gl]=Recurso do Google Contacts para Akonadi
Name[hu]=Akonadi Google névjegyek erőforrás
Name[is]=Akonadi Google Tengiliðaaðfang
Name[it]=Risorsa dei contatti di Google per Akonadi
Name[km]=ធនធាន​ទំនាក់ទំនង​ហ្គូហ្គល​របស់ Akonadi
Name[lv]=Akonadi Google kontaktu resurss
Name[ml]=അകോണാടി ഗുഗിള്‍ സമ്പര്‍ക്ക വിഭവം
Name[nb]=Akonadi Google kontaktressurs
Name[nds]="Google-Kontakten"-Ressource för Akonadi
Name[nl]=Akonadi Google contactenbron
Name[pa]=ਅਕੌਂਡੀ ਗੂਗਲ ਸੰਪਰਕ ਸਰੋਤ
Name[pl]=Zasób Kontaktów Google dla Akonadi
Name[pt]=Recurso do Google Contacts para o Akonadi
Name[pt_BR]=Recurso de contatos do Google do Akonadi
Name[ro]=Resursă Akonadi pentru Contacte Google
Name[ru]=Источник данных контактов Google для Akonadi
Name[sl]=Vir Google Stiki za Akonadi
Name[sr]=Ресурс Гугл‑контакта за Аконади
Name[sr@ijekavian]=Ресурс Гугл‑контакта за Аконади
Name[sr@ijekavianlatin]=Resurs Google-kontakta za Akonadi
Name[sr@latin]=Resurs Google-kontakta za Akonadi
Name[sv]=Akonadi Google-kontaktresurs
Name[th]=ทรัพยากรผู้ติดต่อ Akonadi Google
Name[tr]=Akonadi Google Kişiler Kaynağı
Name[uk]=Ресурс Контактів Google для Akonadi
Name[x-test]=xxAkonadi Google Contacts Resourcexx
Name[zh_CN]=Akonadi Google 联系人资源
Name[zh_TW]=Akonadi Google 聯絡人資源
Comment=Resource for a Google account
Comment[bg]=Източник за потребителска сметка в Google
Comment[bs]=Resurs za nalog na Google
Comment[ca]=Recurs per a un compte de Google
Comment[cs]=Zdroj pro účet Google
Comment[da]=Ressource for en Google-konto
Comment[de]=Ressource für ein Google-Konto
Comment[el]=Πόρος για ένα λογαριασμό Google
Comment[en_GB]=Resource for a Google account
Comment[es]=Recurso para una cuenta de Google
Comment[et]=Google'i konto ressurss
Comment[fr]=Resource pour un compte Google
Comment[ga]=Acmhainn do chuntas Google
Comment[gl]=Recurso para unha conta de Google
Comment[hu]=Erőforrás egy Google azonosítóhoz
Comment[is]=Aðfang fyrir Google reikning
Comment[it]=Risorsa di un account di Google
Comment[km]=ធនធាន​សម្រាប់​គណនី​ហ្គូហ្គល
Comment[ml]=ഗുഗിള്‍ അക്കൌണ്ടിനുള്ള വിഭവങ്ങള്‍
Comment[nb]=Ressurs for en Google-konto
Comment[nds]=Ressource för en Google-Konto
Comment[nl]=Hulpbron voor een Google-account
Comment[pl]=Zasób dla konta Google
Comment[pt]=Recurso para uma conta do Google
Comment[pt_BR]=Recurso para uma conta do Google
Comment[ro]=Resursă pentru un cont Google
Comment[ru]=Источник данных для учётной записи в Google
Comment[sl]=Vir za račun Google
Comment[sr]=Ресурс за налог на Гуглу
Comment[sr@ijekavian]=Ресурс за налог на Гуглу
Comment[sr@ijekavianlatin]=Resurs za nalog na Googleu
Comment[sr@latin]=Resurs za nalog na Googleu
Comment[sv]=Resurs för ett Google-konto
Comment[uk]=Ресурс облікового запису Google
Comment[x-test]=xxResource for a Google accountxx
Comment[zh_CN]=Google 账户的资源
Comment[zh_TW]=Google 帳號的資源
Type=AkonadiResource
Exec=akonadi_googledata_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googledata_resource
