[Desktop Entry]
Name=Akonadi Google Contacts Resource
Comment=Resource for a Google account
Type=AkonadiResource
Exec=akonadi_googledata_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googledata_resource
