[Desktop Entry]
Name=Akonadi Google Contacts Resource
Name[de]=Google-Kontakte-Ressource für Akonadi
Name[et]=Akonadi Google'i kontaktide ressurss
Name[gl]=Recurso do Google Contacts para Akonadi
Name[km]=ធនធាន​ទំនាក់ទំនង​របស់ Akonadi Google
Name[nds]="Google-Kontakten"-Ressource för Akonadi
Name[pt]=Recurso do Google Contacts para o Akonadi
Name[pt_BR]=Recurso de contatos do Google do Akonadi
Name[sv]=Akonadi Google-kontaktresurs
Name[tr]=Akonadi Google Kişiler Kaynağı
Name[uk]=Ресурс Контактів Google для Akonadi
Name[zh_CN]=Akonadi Google 联系人资源
Comment=Resource for a google account
Comment[et]=Google'i konto ressurss
Comment[gl]=Recurso para unha conta de google
Comment[km]=ធនធាន​សម្រាប់​គណនីហ្គូហ្គល
Comment[nds]=Ressource för en Google-Konto
Comment[pt]=Recurso para uma conta do Google
Comment[pt_BR]=Recurso para uma conta do Google
Comment[sv]=Resurs för ett Google-konto
Comment[tr]=Google hesabı için kaynak
Comment[uk]=Ресурс для облікового запису google
Comment[zh_CN]=Google 账户的资源
Type=AkonadiResource
Exec=akonadi_googledata_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory,text/calendar
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googledata_resource
